In [1]:
import sys
# sys.path is a list of absolute path strings
sys.path.append('/mnt/sda/boris_stanoev/PropStar/')

In [2]:
from normalization.normalize import Normalize
from sklearn.datasets import fetch_openml

In [3]:
data = fetch_openml(data_id=1558)
denormalized_table = data.data.join(data.target)

/mnt/sda/boris_stanoev/PropStar/venv/lib/python3.10/site-packages/sklearn/datasets/_openml.py:1002: FutureWarning: The default value of `parser` will change from `'liac-arff'` to `'auto'` in 1.4. You can set `parser='auto'` to silence this warning. Therefore, an `ImportError` will be raised from 1.4 if the dataset is dense and pandas is not installed. Note that the pandas parser may return different data types. See the Notes Section in fetch_openml's API doc for details.
  warn(

In [4]:
denormalized_table.columns.values

array(['V1', 'V2', 'V3', 'V4', 'V5', 'V6', 'V7', 'V8', 'V9', 'V10', 'V11',
       'V12', 'V13', 'V14', 'V15', 'V16', 'Class'], dtype=object)

In [5]:
denormalized_table.rename(columns={"V1": "age",
                                   "V2": "job",
                                   "V3": "marital",
                                   "V4": "education",
                                   "V5": "default",
                                   "V6": "balance",
                                   "V7": "housing",
                                   "V8": "loan",
                                   "V9": "contact",
                                   "V10": "day",
                                   "V11": "month",
                                   "V12": "duration",
                                   "V13": "campaign",
                                   "V14": "pdays",
                                   "V15": "previous",
                                   "V16": "poutcome",
                                  }, inplace=True)

In [6]:
"""
bank client data:
    1 - age (numeric)
    
    2 - job : type of job (categorical: "admin.","unknown","unemployed","management","housemaid","entrepreneur", "student","blue-collar","self-employed","retired","technician","services")
    
    3 - marital : marital status (categorical: "married","divorced","single"; note: "divorced" means divorced or widowed)
    
    4 - education (categorical: "unknown","secondary","primary","tertiary")
    
    5 - default: has credit in default? (binary: "yes","no")
    
    6 - balance: average yearly balance, in euros (numeric)
    
    7 - housing: has housing loan? (binary: "yes","no")
    
    8 - loan: has personal loan? (binary: "yes","no")

related with the last contact of the current campaign:
    9 - contact: contact communication type (categorical: "unknown","telephone","cellular")
    
    10 - day: last contact day of the month (numeric)
    
    11 - month: last contact month of year (categorical: "jan", "feb", "mar", ..., "nov", "dec")
    
    12 - duration: last contact duration, in seconds (numeric)

other attributes:
    13 - campaign: number of contacts performed during this campaign and for this client (numeric, includes last contact)
    
    14 - pdays: number of days that passed by after the client was last contacted from a previous campaign (numeric, -1 means client was not previously contacted)
    
    15 - previous: number of contacts performed before this campaign and for this client (numeric)
    
    16 - poutcome: outcome of the previous marketing campaign (categorical: "unknown","other","failure","success")

output variable (desired target):
17 - y - has the client subscribed a term deposit? (binary: "yes","no")

"""

'\nbank client data:\n    1 - age (numeric)\n    \n    2 - job : type of job (categorical: "admin.","unknown","unemployed","management","housemaid","entrepreneur", "student","blue-collar","self-employed","retired","technician","services")\n    \n    3 - marital : marital status (categorical: "married","divorced","single"; note: "divorced" means divorced or widowed)\n    \n    4 - education (categorical: "unknown","secondary","primary","tertiary")\n    \n    5 - default: has credit in default? (binary: "yes","no")\n    \n    6 - balance: average yearly balance, in euros (numeric)\n    \n    7 - housing: has housing loan? (binary: "yes","no")\n    \n    8 - loan: has personal loan? (binary: "yes","no")\n\nrelated with the last contact of the current campaign:\n    9 - contact: contact communication type (categorical: "unknown","telephone","cellular")\n    \n    10 - day: last contact day of the month (numeric)\n    \n    11 - month: last contact month of year (categorical: "jan", "feb", "mar", ..., "nov", "dec")\n    \n    12 - duration: last contact duration, in seconds (numeric)\n\nother attributes:\n    13 - campaign: number of contacts performed during this campaign and for this client (numeric, includes last contact)\n    \n    14 - pdays: number of days that passed by after the client was last contacted from a previous campaign (numeric, -1 means client was not previously contacted)\n    \n    15 - previous: number of contacts performed before this campaign and for this client (numeric)\n    \n    16 - poutcome: outcome of the previous marketing campaign (categorical: "unknown","other","failure","success")\n\noutput variable (desired target):\n17 - y - has the client subscribed a term deposit? (binary: "yes","no")\n\n'

In [7]:
denormalized_table

,age,job,marital,education,default,balance,housing,loan,contact,day,month,duration,campaign,pdays,previous,poutcome,Class
0,30.0,unemployed,married,primary,no,1787.0,no,no,cellular,19.0,oct,79.0,1.0,-1.0,0.0,unknown,1
1,33.0,services,married,secondary,no,4789.0,yes,yes,cellular,11.0,may,220.0,1.0,339.0,4.0,failure,1
2,35.0,management,single,tertiary,no,1350.0,yes,no,cellular,16.0,apr,185.0,1.0,330.0,1.0,failure,1
3,30.0,management,married,tertiary,no,1476.0,yes,yes,unknown,3.0,jun,199.0,4.0,-1.0,0.0,unknown,1
4,59.0,blue-collar,married,secondary,no,0.0,yes,no,unknown,5.0,may,226.0,1.0,-1.0,0.0,unknown,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4516,33.0,services,married,secondary,no,-333.0,yes,no,cellular,30.0,jul,329.0,5.0,-1.0,0.0,unknown,1
4517,57.0,self-employed,married,tertiary,yes,-3313.0,yes,yes,unknown,9.0,may,153.0,1.0,-1.0,0.0,unknown,1
4518,57.0,technician,married,secondary,no,295.0,no,no,cellular,19.0,aug,151.0,11.0,-1.0,0.0,unknown,1
4519,28.0,blue-collar,married,secondary,no,1137.0,no,no,cellular,6.0,feb,129.0,4.0,211.0,3.0,other,1
4520,44.0,entrepreneur,single,tertiary,no,1136.0,yes,yes,cellular,3.0,apr,345.0,2.0,249.0,7.0,other,1

In [8]:
norm = Normalize(denormalized_table=denormalized_table, denormalized_table_name="target")

In [9]:
client_cols = ['age', 'job', 'marital', 'education', 'default', 'balance', 'housing', 'loan']
norm.create_entity(source_entity_name="target", target_entity_name="client", columns=client_cols,
                   distinct_values=True)


norm.create_entity(source_entity_name="client", target_entity_name="default_type", columns=['default'],
                   distinct_values=True)
norm.create_entity(source_entity_name="client", target_entity_name="housing_type", columns=['housing'],
                   distinct_values=True)
norm.create_entity(source_entity_name="client", target_entity_name="loan_type", columns=['loan'],
                   distinct_values=True)

In [10]:
contact_cols = ['contact', 'day', 'month', 'duration']
norm.create_entity(source_entity_name="target", target_entity_name="contact", columns=contact_cols,
                   distinct_values=True)
norm.create_entity(source_entity_name="contact", target_entity_name="contact_type", columns=['contact'],
                   distinct_values=True)

In [12]:
attribute_cols = ['campaign', 'pdays', 'previous', 'poutcome']
norm.create_entity(source_entity_name="target", target_entity_name="attribute", columns=attribute_cols,
                   distinct_values=True)

norm.create_entity(source_entity_name="attribute", target_entity_name="previous", columns=['previous'],
                   distinct_values=True)

In [13]:
norm.primary_keys
norm.relations
norm.entity_set.keys()

dict_keys(['target', 'client', 'default_type', 'housing_type', 'loan_type', 'contact', 'contact_type', 'attribute', 'previous'])

In [14]:
for entity in norm.entity_set.keys():
    print(
        f"ALTER TABLE {entity} ADD CONSTRAINT PK_{entity} PRIMARY KEY ({norm.primary_keys[entity]});")

for parent_table in norm.relations:
    for child_table in norm.relations[parent_table]:
        print(f"ALTER TABLE {child_table} ADD CONSTRAINT FK_{child_table}_{parent_table} "
              f"FOREIGN KEY ({norm.relations[parent_table][child_table][1]}) "
              f"REFERENCES {parent_table}({norm.relations[parent_table][child_table][0]}));")

ALTER TABLE target ADD CONSTRAINT PK_target PRIMARY KEY (id);
ALTER TABLE client ADD CONSTRAINT PK_client PRIMARY KEY (client_id);
ALTER TABLE default_type ADD CONSTRAINT PK_default_type PRIMARY KEY (default_type_id);
ALTER TABLE housing_type ADD CONSTRAINT PK_housing_type PRIMARY KEY (housing_type_id);
ALTER TABLE loan_type ADD CONSTRAINT PK_loan_type PRIMARY KEY (loan_type_id);
ALTER TABLE contact ADD CONSTRAINT PK_contact PRIMARY KEY (contact_id);
ALTER TABLE contact_type ADD CONSTRAINT PK_contact_type PRIMARY KEY (contact_type_id);
ALTER TABLE attribute ADD CONSTRAINT PK_attribute PRIMARY KEY (attribute_id);
ALTER TABLE previous ADD CONSTRAINT PK_previous PRIMARY KEY (previous_id);
ALTER TABLE target ADD CONSTRAINT FK_target_client FOREIGN KEY (client_id) REFERENCES client(client_id));
ALTER TABLE client ADD CONSTRAINT FK_client_default_type FOREIGN KEY (default_type_id) REFERENCES default_type(default_type_id));
ALTER TABLE client ADD CONSTRAINT FK_client_housing_type FOREIGN KEY (housing_type_id) REFERENCES housing_type(housing_type_id));
ALTER TABLE client ADD CONSTRAINT FK_client_loan_type FOREIGN KEY (loan_type_id) REFERENCES loan_type(loan_type_id));
ALTER TABLE target ADD CONSTRAINT FK_target_contact FOREIGN KEY (contact_id) REFERENCES contact(contact_id));
ALTER TABLE contact ADD CONSTRAINT FK_contact_contact_type FOREIGN KEY (contact_type_id) REFERENCES contact_type(contact_type_id));
ALTER TABLE target ADD CONSTRAINT FK_target_attribute FOREIGN KEY (attribute_id) REFERENCES attribute(attribute_id));
ALTER TABLE attribute ADD CONSTRAINT FK_attribute_previous FOREIGN KEY (previous_id) REFERENCES previous(previous_id));

In [15]:
norm.persist_entity_set(database_name="bank_marketing_exp2")

2023-09-18 22:18:45,075 INFO sqlalchemy.engine.Engine SELECT CAST(SERVERPROPERTY('ProductVersion') AS VARCHAR)
2023-09-18 22:18:45,075 INFO sqlalchemy.engine.Engine [raw sql] ()
2023-09-18 22:18:45,077 INFO sqlalchemy.engine.Engine SELECT schema_name()
2023-09-18 22:18:45,077 INFO sqlalchemy.engine.Engine [generated in 0.00037s] ()
2023-09-18 22:18:45,078 INFO sqlalchemy.engine.Engine SELECT CAST('test max support' AS NVARCHAR(max))
2023-09-18 22:18:45,079 INFO sqlalchemy.engine.Engine [generated in 0.00067s] ()
2023-09-18 22:18:45,080 INFO sqlalchemy.engine.Engine SELECT 1 FROM fn_listextendedproperty(default, default, default, default, default, default, default)
2023-09-18 22:18:45,080 INFO sqlalchemy.engine.Engine [generated in 0.00049s] ()
2023-09-18 22:18:45,081 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2023-09-18 22:18:45,082 INFO sqlalchemy.engine.Engine IF (SCHEMA_ID('bank_marketing_exp2') IS NOT NULL) BEGIN DROP SCHEMA [bank_marketing_exp2]; END
2023-09-18 22:18:45,082 INFO sqlalchemy.engine.Engine [generated in 0.00081s] ()
2023-09-18 22:18:45,083 INFO sqlalchemy.engine.Engine CREATE SCHEMA [bank_marketing_exp2] AUTHORIZATION [dbo]
2023-09-18 22:18:45,083 INFO sqlalchemy.engine.Engine [generated in 0.00038s] ()
2023-09-18 22:18:45,091 INFO sqlalchemy.engine.Engine SELECT [INFORMATION_SCHEMA].[TABLES].[TABLE_NAME]
FROM [INFORMATION_SCHEMA].[TABLES]
WHERE ([INFORMATION_SCHEMA].[TABLES].[TABLE_TYPE] = CAST(? AS NVARCHAR(max)) OR [INFORMATION_SCHEMA].[TABLES].[TABLE_TYPE] = CAST(? AS NVARCHAR(max))) AND [INFORMATION_SCHEMA].[TABLES].[TABLE_NAME] = CAST(? AS NVARCHAR(max)) AND [INFORMATION_SCHEMA].[TABLES].[TABLE_SCHEMA] = CAST(? AS NVARCHAR(max))
2023-09-18 22:18:45,092 INFO sqlalchemy.engine.Engine [generated in 0.00085s] ('BASE TABLE', 'VIEW', 'target', 'bank_marketing_exp2')
2023-09-18 22:18:45,093 INFO sqlalchemy.engine.Engine
CREATE TABLE bank_marketing_exp2.target (
	[Class] VARCHAR(max) NULL,
	id BIGINT NULL,
	client_id BIGINT NULL,
	contact_id BIGINT NULL,
	attribute_id BIGINT NULL
)


2023-09-18 22:18:45,094 INFO sqlalchemy.engine.Engine [no key 0.00038s] ()
2023-09-18 22:18:45,112 INFO sqlalchemy.engine.Engine INSERT INTO bank_marketing_exp2.target ([Class], id, client_id, contact_id, attribute_id) VALUES (?, ?, ?, ?, ?), (?, ?, ?, ?, ?), (?, ?, ?, ?, ?), (?, ?, ?, ?, ?), (?, ?, ?, ?, ?), (?, ?, ?, ?, ?), (?, ?, ?, ?, ?), (?, ?, ?, ?, ?), (?, ?, ?, ?, ?),  ... 6868 characters truncated ... (?, ?, ?, ?, ?), (?, ?, ?, ?, ?), (?, ?, ?, ?, ?), (?, ?, ?, ?, ?), (?, ?, ?, ?, ?), (?, ?, ?, ?, ?)
2023-09-18 22:18:45,112 INFO sqlalchemy.engine.Engine [generated in 0.00932s (insertmanyvalues) 1/11 (unordered)] ('1', 0, 0, 0, 0, '1', 1, 1, 1, 1, '1', 2, 2, 2, 2, '1', 3, 3, 3, 3, '1', 4, 4, 4, 0, '1', 5, 5, 5, 4, '1', 6, 6, 6, 5, '1', 7, 7, 7, 6, '1', 8, 8, 8, 6, '1', 9, 9, 9, 7 ... 1995 parameters truncated ... '2', 409, 409, 408, 99, '1', 410, 410, 409, 3, '1', 411, 411, 410, 0, '2', 412, 412, 411, 100, '1', 413, 413, 412, 6, '1', 414, 414, 413, 43, '2', 415, 415, 414, 3, '1', 416, 416, 415, 6, '1', 417, 417, 416, 6, '1', 418, 418, 417, 0)
2023-09-18 22:18:45,215 INFO sqlalchemy.engine.Engine INSERT INTO bank_marketing_exp2.target ([Class], id, client_id, contact_id, attribute_id) VALUES (?, ?, ?, ?, ?), (?, ?, ?, ?, ?), (?, ?, ?, ?, ?), (?, ?, ?, ?, ?), (?, ?, ?, ?, ?), (?, ?, ?, ?, ?), (?, ?, ?, ?, ?), (?, ?, ?, ?, ?), (?, ?, ?, ?, ?),  ... 6868 characters truncated ... (?, ?, ?, ?, ?), (?, ?, ?, ?, ?), (?, ?, ?, ?, ?), (?, ?, ?, ?, ?), (?, ?, ?, ?, ?), (?, ?, ?, ?, ?)
2023-09-18 22:18:45,215 INFO sqlalchemy.engine.Engine [insertmanyvalues 2/11 (unordered)] ('1', 419, 419, 418, 0, '1', 420, 420, 419, 0, '1', 421, 421, 420, 101, '1', 422, 422, 421, 6, '1', 423, 423, 422, 102, '1', 424, 424, 423, 0, '1', 425, 425, 424, 12, '1', 426, 426, 425, 0, '1', 427, 427, 426, 0, '1', 428, 428, 427, 6 ... 1995 parameters truncated ... '1', 828, 828, 820, 178, '1', 829, 829, 821, 179, '1', 830, 830, 822, 0, '2', 831, 831, 823, 6, '1', 832, 832, 824, 0, '1', 833, 833, 825, 6, '1', 834, 834, 826, 3, '1', 835, 835, 827, 6, '1', 836, 836, 828, 0, '2', 837, 837, 829, 180)
2023-09-18 22:18:45,225 INFO sqlalchemy.engine.Engine INSERT INTO bank_marketing_exp2.target ([Class], id, client_id, contact_id, attribute_id) VALUES (?, ?, ?, ?, ?), (?, ?, ?, ?, ?), (?, ?, ?, ?, ?), (?, ?, ?, ?, ?), (?, ?, ?, ?, ?), (?, ?, ?, ?, ?), (?, ?, ?, ?, ?), (?, ?, ?, ?, ?), (?, ?, ?, ?, ?),  ... 6868 characters truncated ... (?, ?, ?, ?, ?), (?, ?, ?, ?, ?), (?, ?, ?, ?, ?), (?, ?, ?, ?, ?), (?, ?, ?, ?, ?), (?, ?, ?, ?, ?)
2023-09-18 22:18:45,226 INFO sqlalchemy.engine.Engine [insertmanyvalues 3/11 (unordered)] ('1', 838, 838, 830, 12, '1', 839, 839, 831, 6, '1', 840, 840, 832, 43, '1', 841, 841, 833, 6, '1', 842, 842, 834, 0, '1', 843, 843, 835, 181, '1', 844, 844, 836, 12, '1', 845, 845, 837, 0, '1', 846, 846, 838, 6, '1', 847, 847, 839, 6 ... 1995 parameters truncated ... '1', 1247, 1247, 1236, 3, '1', 1248, 1248, 1237, 6, '2', 1249, 1249, 1238, 3, '1', 1250, 1250, 1239, 0, '1', 1251, 1251, 1240, 6, '1', 1252, 1252, 1241, 6, '1', 1253, 1253, 1242, 0, '1', 1254, 1254, 1243, 3, '1', 1255, 1255, 1244, 6, '1', 1256, 1256, 1245, 6)
2023-09-18 22:18:45,239 INFO sqlalchemy.engine.Engine INSERT INTO bank_marketing_exp2.target ([Class], id, client_id, contact_id, attribute_id) VALUES (?, ?, ?, ?, ?), (?, ?, ?, ?, ?), (?, ?, ?, ?, ?), (?, ?, ?, ?, ?), (?, ?, ?, ?, ?), (?, ?, ?, ?, ?), (?, ?, ?, ?, ?), (?, ?, ?, ?, ?), (?, ?, ?, ?, ?),  ... 6868 characters truncated ... (?, ?, ?, ?, ?), (?, ?, ?, ?, ?), (?, ?, ?, ?, ?), (?, ?, ?, ?, ?), (?, ?, ?, ?, ?), (?, ?, ?, ?, ?)
2023-09-18 22:18:45,240 INFO sqlalchemy.engine.Engine [insertmanyvalues 4/11 (unordered)] ('1', 1257, 1257, 1246, 43, '1', 1258, 1258, 1247, 0, '1', 1259, 1259, 1248, 12, '1', 1260, 1260, 1249, 9, '1', 1261, 1261, 1250, 6, '1', 1262, 1262, 1251, 256, '1', 1263, 1263, 1252, 6, '1', 1264, 1264, 1253, 12, '1', 1265, 1265, 1254, 105, '2', 1266, 1266, 1255, 0 ... 1995 parameters truncated ... '1', 1666, 1664, 1642, 329, '1', 1667, 1665, 1643, 12, '1', 1668, 1666, 1644, 6, '1', 1669, 1667, 1645, 6, '1', 1670, 1668, 1646, 6, '1', 1671, 1669, 1647, 0, '2', 1672, 1670, 1648, 6, '1', 1673, 1671, 1649, 6, '1', 1674, 1672, 1650, 0, '1', 1675, 1673, 1651, 0)
2023-09-18 22:18:45,249 INFO sqlalchemy.engine.Engine INSERT INTO bank_marketing_exp2.target ([Class], id, client_id, contact_id, attribute_id) VALUES (?, ?, ?, ?, ?), (?, ?, ?, ?, ?), (?, ?, ?, ?, ?), (?, ?, ?, ?, ?), (?, ?, ?, ?, ?), (?, ?, ?, ?, ?), (?, ?, ?, ?, ?), (?, ?, ?, ?, ?), (?, ?, ?, ?, ?),  ... 6868 characters truncated ... (?, ?, ?, ?, ?), (?, ?, ?, ?, ?), (?, ?, ?, ?, ?), (?, ?, ?, ?, ?), (?, ?, ?, ?, ?), (?, ?, ?, ?, ?)
2023-09-18 22:18:45,250 INFO sqlalchemy.engine.Engine [insertmanyvalues 5/11 (unordered)] ('1', 1676, 1674, 1652, 330, '1', 1677, 1675, 1653, 6, '1', 1678, 1676, 1654, 0, '1', 1679, 1677, 1655, 9, '2', 1680, 261, 1656, 3, '1', 1681, 1678, 1657, 0, '1', 1682, 1679, 1658, 0, '1', 1683, 1680, 1659, 3, '1', 1684, 1681, 1660, 0, '1', 1685, 1682, 1661, 0 ... 1995 parameters truncated ... '1', 2085, 2076, 1716, 12, '1', 2086, 2077, 2047, 3, '1', 2087, 2078, 2048, 9, '1', 2088, 2079, 2049, 398, '2', 2089, 2080, 2050, 12, '1', 2090, 2081, 2051, 0, '1', 2091, 2082, 2052, 0, '1', 2092, 2083, 2053, 12, '1', 2093, 2084, 2054, 0, '1', 2094, 2085, 2055, 3)
2023-09-18 22:18:45,262 INFO sqlalchemy.engine.Engine INSERT INTO bank_marketing_exp2.target ([Class], id, client_id, contact_id, attribute_id) VALUES (?, ?, ?, ?, ?), (?, ?, ?, ?, ?), (?, ?, ?, ?, ?), (?, ?, ?, ?, ?), (?, ?, ?, ?, ?), (?, ?, ?, ?, ?), (?, ?, ?, ?, ?), (?, ?, ?, ?, ?), (?, ?, ?, ?, ?),  ... 6868 characters truncated ... (?, ?, ?, ?, ?), (?, ?, ?, ?, ?), (?, ?, ?, ?, ?), (?, ?, ?, ?, ?), (?, ?, ?, ?, ?), (?, ?, ?, ?, ?)
2023-09-18 22:18:45,262 INFO sqlalchemy.engine.Engine [insertmanyvalues 6/11 (unordered)] ('1', 2095, 2086, 2056, 0, '1', 2096, 2087, 2057, 399, '1', 2097, 2088, 2058, 12, '1', 2098, 2089, 2059, 12, '1', 2099, 2090, 968, 0, '1', 2100, 2091, 2060, 12, '1', 2101, 2092, 2061, 6, '1', 2102, 2093, 2062, 55, '1', 2103, 2094, 2063, 400, '1', 2104, 2095, 2064, 401 ... 1995 parameters truncated ... '1', 2504, 2493, 2452, 459, '1', 2505, 2494, 2453, 14, '1', 2506, 2495, 2454, 12, '1', 2507, 2496, 2455, 14, '1', 2508, 2497, 2456, 14, '1', 2509, 2498, 2457, 12, '1', 2510, 2499, 2458, 0, '1', 2511, 2500, 2459, 0, '2', 2512, 2501, 2460, 0, '1', 2513, 2502, 2461, 6)
2023-09-18 22:18:45,275 INFO sqlalchemy.engine.Engine INSERT INTO bank_marketing_exp2.target ([Class], id, client_id, contact_id, attribute_id) VALUES (?, ?, ?, ?, ?), (?, ?, ?, ?, ?), (?, ?, ?, ?, ?), (?, ?, ?, ?, ?), (?, ?, ?, ?, ?), (?, ?, ?, ?, ?), (?, ?, ?, ?, ?), (?, ?, ?, ?, ?), (?, ?, ?, ?, ?),  ... 6868 characters truncated ... (?, ?, ?, ?, ?), (?, ?, ?, ?, ?), (?, ?, ?, ?, ?), (?, ?, ?, ?, ?), (?, ?, ?, ?, ?), (?, ?, ?, ?, ?)
2023-09-18 22:18:45,275 INFO sqlalchemy.engine.Engine [insertmanyvalues 7/11 (unordered)] ('1', 2514, 2503, 2462, 6, '1', 2515, 2504, 2463, 12, '1', 2516, 2505, 2464, 9, '1', 2517, 2506, 2465, 0, '1', 2518, 2507, 2466, 3, '1', 2519, 2508, 2467, 3, '1', 2520, 2509, 2468, 0, '1', 2521, 2510, 2469, 6, '1', 2522, 2511, 2470, 0, '1', 2523, 2512, 2471, 6 ... 1995 parameters truncated ... '1', 2923, 2905, 596, 514, '2', 2924, 363, 2854, 200, '1', 2925, 2906, 2855, 3, '1', 2926, 2907, 2856, 3, '1', 2927, 2908, 2857, 6, '1', 2928, 2909, 2858, 43, '1', 2929, 2910, 2859, 3, '1', 2930, 2911, 2860, 0, '1', 2931, 2912, 2861, 12, '1', 2932, 2913, 2862, 0)
2023-09-18 22:18:45,285 INFO sqlalchemy.engine.Engine INSERT INTO bank_marketing_exp2.target ([Class], id, client_id, contact_id, attribute_id) VALUES (?, ?, ?, ?, ?), (?, ?, ?, ?, ?), (?, ?, ?, ?, ?), (?, ?, ?, ?, ?), (?, ?, ?, ?, ?), (?, ?, ?, ?, ?), (?, ?, ?, ?, ?), (?, ?, ?, ?, ?), (?, ?, ?, ?, ?),  ... 6868 characters truncated ... (?, ?, ?, ?, ?), (?, ?, ?, ?, ?), (?, ?, ?, ?, ?), (?, ?, ?, ?, ?), (?, ?, ?, ?, ?), (?, ?, ?, ?, ?)
2023-09-18 22:18:45,285 INFO sqlalchemy.engine.Engine [insertmanyvalues 8/11 (unordered)] ('1', 2933, 2914, 2863, 6, '1', 2934, 2915, 2864, 515, '1', 2935, 2916, 2865, 6, '1', 2936, 2917, 2866, 0, '1', 2937, 2918, 2867, 6, '1', 2938, 2919, 2868, 6, '1', 2939, 2920, 2869, 0, '2', 2940, 2921, 2870, 3, '1', 2941, 2922, 2871, 14, '1', 2942, 2923, 2872, 6 ... 1995 parameters truncated ... '1', 3342, 3320, 3249, 0, '1', 3343, 3321, 3250, 594, '1', 3344, 3322, 3251, 0, '1', 3345, 3323, 424, 6, '1', 3346, 2548, 3252, 461, '1', 3347, 3324, 3253, 6, '1', 3348, 3325, 3254, 6, '1', 3349, 3326, 3255, 6, '1', 3350, 3327, 3256, 595, '1', 3351, 3328, 3257, 43)
2023-09-18 22:18:45,295 INFO sqlalchemy.engine.Engine INSERT INTO bank_marketing_exp2.target ([Class], id, client_id, contact_id, attribute_id) VALUES (?, ?, ?, ?, ?), (?, ?, ?, ?, ?), (?, ?, ?, ?, ?), (?, ?, ?, ?, ?), (?, ?, ?, ?, ?), (?, ?, ?, ?, ?), (?, ?, ?, ?, ?), (?, ?, ?, ?, ?), (?, ?, ?, ?, ?),  ... 6868 characters truncated ... (?, ?, ?, ?, ?), (?, ?, ?, ?, ?), (?, ?, ?, ?, ?), (?, ?, ?, ?, ?), (?, ?, ?, ?, ?), (?, ?, ?, ?, ?)
2023-09-18 22:18:45,295 INFO sqlalchemy.engine.Engine [insertmanyvalues 9/11 (unordered)] ('1', 3352, 3329, 3258, 43, '1', 3353, 3330, 3259, 382, '1', 3354, 3331, 3260, 6, '1', 3355, 3332, 3261, 0, '1', 3356, 3333, 3262, 14, '1', 3357, 3334, 3263, 12, '1', 3358, 3335, 3264, 6, '1', 3359, 3336, 3265, 0, '2', 3360, 3337, 3266, 6, '1', 3361, 3338, 3267, 0 ... 1995 parameters truncated ... '1', 3761, 3724, 666, 14, '1', 3762, 3725, 3639, 0, '1', 3763, 3726, 3640, 48, '1', 3764, 3727, 3641, 0, '2', 3765, 3728, 3642, 100, '1', 3766, 3729, 3643, 6, '1', 3767, 3730, 3644, 6, '1', 3768, 3731, 3645, 12, '1', 3769, 3732, 3646, 12, '1', 3770, 3733, 3647, 672)
2023-09-18 22:18:45,304 INFO sqlalchemy.engine.Engine INSERT INTO bank_marketing_exp2.target ([Class], id, client_id, contact_id, attribute_id) VALUES (?, ?, ?, ?, ?), (?, ?, ?, ?, ?), (?, ?, ?, ?, ?), (?, ?, ?, ?, ?), (?, ?, ?, ?, ?), (?, ?, ?, ?, ?), (?, ?, ?, ?, ?), (?, ?, ?, ?, ?), (?, ?, ?, ?, ?),  ... 6868 characters truncated ... (?, ?, ?, ?, ?), (?, ?, ?, ?, ?), (?, ?, ?, ?, ?), (?, ?, ?, ?, ?), (?, ?, ?, ?, ?), (?, ?, ?, ?, ?)
2023-09-18 22:18:45,305 INFO sqlalchemy.engine.Engine [insertmanyvalues 10/11 (unordered)] ('2', 3771, 3734, 3648, 0, '1', 3772, 3735, 3649, 3, '1', 3773, 3736, 3650, 14, '1', 3774, 3737, 3651, 0, '1', 3775, 3738, 3652, 673, '1', 3776, 3739, 3653, 6, '1', 3777, 3740, 3654, 0, '2', 3778, 3741, 3655, 12, '1', 3779, 3742, 3656, 6, '2', 3780, 3743, 3657, 0 ... 1995 parameters truncated ... '1', 4180, 4133, 4036, 0, '1', 4181, 4134, 2604, 37, '1', 4182, 4135, 4037, 3, '1', 4183, 4136, 4038, 6, '1', 4184, 4137, 4039, 6, '1', 4185, 4138, 4040, 0, '1', 4186, 4139, 4041, 735, '1', 4187, 4140, 4042, 0, '1', 4188, 4141, 4043, 6, '1', 4189, 4142, 4044, 3)
2023-09-18 22:18:45,314 INFO sqlalchemy.engine.Engine INSERT INTO bank_marketing_exp2.target ([Class], id, client_id, contact_id, attribute_id) VALUES (?, ?, ?, ?, ?), (?, ?, ?, ?, ?), (?, ?, ?, ?, ?), (?, ?, ?, ?, ?), (?, ?, ?, ?, ?), (?, ?, ?, ?, ?), (?, ?, ?, ?, ?), (?, ?, ?, ?, ?), (?, ?, ?, ?, ?),  ... 5372 characters truncated ... (?, ?, ?, ?, ?), (?, ?, ?, ?, ?), (?, ?, ?, ?, ?), (?, ?, ?, ?, ?), (?, ?, ?, ?, ?), (?, ?, ?, ?, ?)
2023-09-18 22:18:45,314 INFO sqlalchemy.engine.Engine [insertmanyvalues 11/11 (unordered)] ('1', 4190, 4143, 4045, 0, '1', 4191, 4144, 706, 736, '1', 4192, 4145, 4046, 382, '1', 4193, 4146, 4047, 0, '2', 4194, 4147, 4048, 0, '1', 4195, 4148, 4049, 6, '2', 4196, 4149, 4050, 737, '1', 4197, 4150, 4051, 0, '2', 4198, 4151, 4052, 0, '1', 4199, 4152, 4053, 6 ... 1555 parameters truncated ... '2', 4511, 4454, 4340, 6, '1', 4512, 4455, 4341, 6, '1', 4513, 4456, 4342, 6, '1', 4514, 4457, 4343, 782, '1', 4515, 4458, 4344, 9, '1', 4516, 4459, 4345, 9, '1', 4517, 4460, 4346, 0, '1', 4518, 4461, 4347, 76, '1', 4519, 4462, 4348, 783, '1', 4520, 4463, 4349, 784)
2023-09-18 22:18:45,366 INFO sqlalchemy.engine.Engine ALTER TABLE bank_marketing_exp2.target ALTER COLUMN id BIGINT NOT NULL
2023-09-18 22:18:45,367 INFO sqlalchemy.engine.Engine [generated in 0.00059s] ()
2023-09-18 22:18:45,377 INFO sqlalchemy.engine.Engine ALTER TABLE bank_marketing_exp2.target ADD CONSTRAINT PK_target PRIMARY KEY (id);
2023-09-18 22:18:45,377 INFO sqlalchemy.engine.Engine [generated in 0.00054s] ()
2023-09-18 22:18:45,411 INFO sqlalchemy.engine.Engine SELECT [INFORMATION_SCHEMA].[TABLES].[TABLE_NAME]
FROM [INFORMATION_SCHEMA].[TABLES]
WHERE ([INFORMATION_SCHEMA].[TABLES].[TABLE_TYPE] = CAST(? AS NVARCHAR(max)) OR [INFORMATION_SCHEMA].[TABLES].[TABLE_TYPE] = CAST(? AS NVARCHAR(max))) AND [INFORMATION_SCHEMA].[TABLES].[TABLE_NAME] = CAST(? AS NVARCHAR(max)) AND [INFORMATION_SCHEMA].[TABLES].[TABLE_SCHEMA] = CAST(? AS NVARCHAR(max))
2023-09-18 22:18:45,412 INFO sqlalchemy.engine.Engine [cached since 0.3209s ago] ('BASE TABLE', 'VIEW', 'client', 'bank_marketing_exp2')
2023-09-18 22:18:45,414 INFO sqlalchemy.engine.Engine
CREATE TABLE bank_marketing_exp2.client (
	age FLOAT(53) NULL,
	job VARCHAR(max) NULL,
	marital VARCHAR(max) NULL,
	education VARCHAR(max) NULL,
	balance FLOAT(53) NULL,
	client_id BIGINT NULL,
	default_type_id BIGINT NULL,
	housing_type_id BIGINT NULL,
	loan_type_id BIGINT NULL
)


2023-09-18 22:18:45,414 INFO sqlalchemy.engine.Engine [no key 0.00036s] ()
2023-09-18 22:18:45,458 INFO sqlalchemy.engine.Engine INSERT INTO bank_marketing_exp2.client (age, job, marital, education, balance, client_id, default_type_id, housing_type_id, loan_type_id) VALUES (?, ?, ?, ?, ?, ?, ?, ?, ?), (?, ?, ?, ?, ?, ?, ?, ?, ?), (?, ?, ?, ?, ?, ?, ?, ?, ?), (?, ?, ?, ?, ?, ?, ... 6550 characters truncated ... , ?, ?, ?, ?), (?, ?, ?, ?, ?, ?, ?, ?, ?), (?, ?, ?, ?, ?, ?, ?, ?, ?), (?, ?, ?, ?, ?, ?, ?, ?, ?)
2023-09-18 22:18:45,459 INFO sqlalchemy.engine.Engine [generated in 0.02947s (insertmanyvalues) 1/20 (unordered)] (30.0, 'unemployed', 'married', 'primary', 1787.0, 0, 0, 0, 0, 33.0, 'services', 'married', 'secondary', 4789.0, 1, 0, 1, 1, 35.0, 'management', 'single', 'tertiary', 1350.0, 2, 0, 1, 0, 30.0, 'management', 'married', 'tertiary', 1476.0, 3, 0, 1, 1, 59.0, 'blue-collar', 'married', 'secondary', 0.0, 4, 0, 1, 0, 35.0, 'management', 'single', 'tertiary', 747.0 ... 1997 parameters truncated ... 359.0, 227, 0, 1, 0, 36.0, 'blue-collar', 'married', 'primary', 123.0, 228, 0, 1, 0, 35.0, 'technician', 'married', 'tertiary', 0.0, 229, 0, 1, 1, 52.0, 'unknown', 'married', 'secondary', 142.0, 230, 0, 0, 0, 40.0, 'entrepreneur', 'married', 'tertiary', 3571.0, 231, 0, 0, 0, 44.0, 'technician', 'single', 'secondary', 33.0, 232, 0, 1, 0)
2023-09-18 22:18:45,535 INFO sqlalchemy.engine.Engine INSERT INTO bank_marketing_exp2.client (age, job, marital, education, balance, client_id, default_type_id, housing_type_id, loan_type_id) VALUES (?, ?, ?, ?, ?, ?, ?, ?, ?), (?, ?, ?, ?, ?, ?, ?, ?, ?), (?, ?, ?, ?, ?, ?, ?, ?, ?), (?, ?, ?, ?, ?, ?, ... 6550 characters truncated ... , ?, ?, ?, ?), (?, ?, ?, ?, ?, ?, ?, ?, ?), (?, ?, ?, ?, ?, ?, ?, ?, ?), (?, ?, ?, ?, ?, ?, ?, ?, ?)
2023-09-18 22:18:45,536 INFO sqlalchemy.engine.Engine [insertmanyvalues 2/20 (unordered)] (45.0, 'blue-collar', 'single', 'secondary', 0.0, 233, 0, 1, 0, 30.0, 'student', 'single', 'secondary', 3096.0, 234, 0, 0, 0, 48.0, 'technician', 'divorced', 'secondary', 20.0, 235, 1, 0, 0, 33.0, 'blue-collar', 'married', 'secondary', 3576.0, 236, 0, 1, 0, 57.0, 'technician', 'married', 'unknown', 206.0, 237, 0, 1, 0, 57.0, 'housemaid', 'married', 'primary', 7082.0 ... 1997 parameters truncated ... 383.0, 460, 0, 0, 0, 50.0, 'blue-collar', 'married', 'secondary', 283.0, 461, 0, 1, 0, 45.0, 'management', 'divorced', 'tertiary', 0.0, 462, 0, 0, 0, 35.0, 'blue-collar', 'divorced', 'secondary', 3102.0, 463, 0, 1, 0, 32.0, 'blue-collar', 'married', 'secondary', 889.0, 464, 0, 1, 0, 59.0, 'housemaid', 'married', 'secondary', 0.0, 465, 0, 0, 0)
2023-09-18 22:18:45,562 INFO sqlalchemy.engine.Engine INSERT INTO bank_marketing_exp2.client (age, job, marital, education, balance, client_id, default_type_id, housing_type_id, loan_type_id) VALUES (?, ?, ?, ?, ?, ?, ?, ?, ?), (?, ?, ?, ?, ?, ?, ?, ?, ?), (?, ?, ?, ?, ?, ?, ?, ?, ?), (?, ?, ?, ?, ?, ?, ... 6550 characters truncated ... , ?, ?, ?, ?), (?, ?, ?, ?, ?, ?, ?, ?, ?), (?, ?, ?, ?, ?, ?, ?, ?, ?), (?, ?, ?, ?, ?, ?, ?, ?, ?)
2023-09-18 22:18:45,563 INFO sqlalchemy.engine.Engine [insertmanyvalues 3/20 (unordered)] (34.0, 'self-employed', 'married', 'secondary', -370.0, 466, 0, 1, 0, 39.0, 'management', 'married', 'tertiary', -606.0, 467, 0, 1, 0, 40.0, 'management', 'single', 'secondary', 10378.0, 468, 0, 1, 0, 36.0, 'blue-collar', 'single', 'primary', 1313.0, 469, 0, 1, 0, 40.0, 'management', 'married', 'tertiary', 8969.0, 470, 0, 1, 0, 55.0, 'self-employed', 'married', 'secondary', -196.0 ... 1997 parameters truncated ... 28.0, 693, 0, 0, 0, 49.0, 'management', 'married', 'tertiary', 1430.0, 694, 0, 0, 0, 51.0, 'retired', 'married', 'secondary', 35.0, 695, 0, 0, 1, 41.0, 'self-employed', 'married', 'tertiary', 6000.0, 696, 0, 1, 0, 34.0, 'technician', 'married', 'secondary', 0.0, 697, 0, 1, 0, 36.0, 'blue-collar', 'single', 'secondary', 340.0, 698, 0, 0, 1)
2023-09-18 22:18:45,572 INFO sqlalchemy.engine.Engine INSERT INTO bank_marketing_exp2.client (age, job, marital, education, balance, client_id, default_type_id, housing_type_id, loan_type_id) VALUES (?, ?, ?, ?, ?, ?, ?, ?, ?), (?, ?, ?, ?, ?, ?, ?, ?, ?), (?, ?, ?, ?, ?, ?, ?, ?, ?), (?, ?, ?, ?, ?, ?, ... 6550 characters truncated ... , ?, ?, ?, ?), (?, ?, ?, ?, ?, ?, ?, ?, ?), (?, ?, ?, ?, ?, ?, ?, ?, ?), (?, ?, ?, ?, ?, ?, ?, ?, ?)